# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\02.Project_Web\2021_Study\multi-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
